.main-wrapper-about {
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0b0c0b;
}
.about-wrapper {
  margin-bottom: 200px;
  .about-intro {
    margin-top: 100px;

    h1 {
      font-family: Syne;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;

      color: #ffffff;
    }
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;

      /* identical to box height */

      color: #ffffff;
    }
  }
  .about-detail {
    margin-top: 40px;
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;

      color: #ffffff;

      a {
        color: #7868e6;
      }
    }
    .sign {
      display: flex;
      justify-content: end;
      margin-top: 30px;
    }
  }

  .seperator {
    display: flex;
    align-items: center;
    // justify-content: center;
    // width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;

    .divider {
      display: flex;
      justify-content: start;
      width: 100%;
      &::after {
        content: "";
        display: inline-block;
        width: 60%;
        height: 10px;
        border-bottom: 1px solid $text-secondary;
        display: flex;
        // align-items: center;
        margin-top: 3px;
      }
    }
  }

  .process {
    .info {
      padding-top: 30px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;

      color: #ffffff;
    }
    .pro-detail {
      display: flex;
      //   justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
      .pro1 {
        width: 33.33%;
        h3 {
          font-family: Syne;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          padding-top: 10px;
          color: #ffffff;
        }
        p {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;

          color: #9099a4;
        }
      }
    }
  }

  // Mobile Devices
  @media (min-width: 320px) and (max-width: 480px) {
    .about-intro {
      margin-top: 30px;
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
    }

    .about-detail {
      margin-top: 40px;
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;

        color: #ffffff;

        a {
          color: #7868e6;
        }
      }
      .sign {
        display: flex;
        justify-content: start;
        margin-top: 30px;
        img {
          width: 60%;
        }
      }
    }
    .seperator {
      display: flex;
      align-items: center;
      // justify-content: center;
      // width: 100%;
      margin: 50px 0 0 0;

      .divider {
        font-size: 10px;

        &::after {
          content: "";
          display: inline-block;
          width: 20%;
          height: 10px;
          border-bottom: 1px solid $text-secondary;
          display: flex;
          // align-items: center;
          margin-top: -2px;
        }
      }
    }

    .process {
      .info {
        padding-top: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;

        color: #ffffff;
      }
      .pro-detail {
        display: flex;
        //   justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
        .pro1 {
          width: 100%;
          img {
            width: 30px;
          }
          h3 {
            font-family: Syne;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            padding-top: 10px;
            color: #ffffff;
          }
          p {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.7;

            color: #9099a4;
          }
        }
      }
    }
  }
}
