.main-wrapper-home {
  background-image: url("../Assets/bg.png");
  // background-image: url("../Assets/noice.png");
  background-repeat: no-repeat;
  background-position: center 50% 50%;
  background-size: cover;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0b0c0b;
}
.hero-wrapper {
  // max-width: 800px;
  // background: cornsilk;
  .header-content {
    display: flex;
    text-align: left;
    flex-direction: column;

    .hero-heading {
      display: flex;
      justify-content: start;
      flex-direction: column;
      margin-top: 100px;
      .title {
        font-family: "Syne", sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        span {
          // background-color: #045de9;
          // background-image: linear-gradient(
          //   to right,
          //   #ff0018 16%,
          //   #ffa52c 32%,
          //   #ffff41 48%,
          //   #008018 64%,
          //   #0000f9 80%,
          //   #86007d 100%
          // );
          background: linear-gradient(
            -45deg,
            #ee7752,
            #e73c7e,
            #23a6d5,
            #23d5ab
          );
          background-size: 400% 400%;
          animation: gradient 5s ease infinite;
          @keyframes gradient {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }

          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .intro {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      width: 50%;
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      margin-top: 25px;
    }
    .cta {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: #fff;
    }
  }
  .seperator {
    display: flex;
    align-items: center;
    // justify-content: center;
    // width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;

    .divider {
      display: flex;
      justify-content: start;
      width: 100%;
      &::after {
        content: "";
        display: inline-block;
        width: 85%;
        height: 10px;
        border-bottom: 1px solid $text-secondary;
        display: flex;
        // align-items: center;
        margin-top: 3px;
      }
    }
  }
  .current-status {
    margin-top: 20px;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    .parent {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .column1 {
      // width: 30%;
      // display: flex;
      padding-bottom: 10px;
      .content {
        width: 100%;
        p {
          font-family: "Syne", sans-serif;
          text-transform: uppercase;
          line-height: 1em;
          color: #9099a4;
          font-size: 14px;
          margin-bottom: 5px;
        }
        h3 {
          font-size: 24px;
          font-family: "Syne", sans-serif;
          color: #fff;
          // width: 70%;
        }
        span {
          font-family: "Syne", sans-serif;
          // line-height: 1em;
          color: #9099a4;
          font-size: 14px;
          display: flex;
          justify-content: end;
          padding-right: 20px;
        }
      }
    }
  }
  // Mobile Devices
  @media (min-width: 320px) and (max-width: 480px) {
    .header-content {
      margin-left: 0;
      .hero-heading {
        margin-top: 40px;
        .title {
          font-size: 24px;

          span {
            background: linear-gradient(
              -45deg,
              #ee7752,
              #e73c7e,
              #23a6d5,
              #23d5ab
            );
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
            @keyframes gradient {
              0% {
                background-position: 0% 50%;
              }
              50% {
                background-position: 100% 50%;
              }
              100% {
                background-position: 0% 50%;
              }
            }

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .intro {
        font-size: 14px;
        width: 100%;
        margin-top: 15px;
      }
      .cta {
        text-decoration: underline;
        font-size: 14px;
        color: #fff;
      }
    }
    .seperator {
      .divider {
        margin-left: 0;
      }
    }
    .current-status {
      margin-top: 20px;

      .parent {
        margin-left: 0;
      }
      .column1 {
        // width: 30%;
        // display: flex;
        padding-bottom: 20px;
        .content {
          width: 100%;
          p {
            font-family: "Syne", sans-serif;
            text-transform: uppercase;
            line-height: 1em;
            color: #9099a4;
            font-size: 12px;
            margin-bottom: 5px;
          }
          h3 {
            font-size: 18px;
            font-family: "Syne", sans-serif;
            color: #fff;
            // width: 70%;
          }
          span {
            font-family: "Syne", sans-serif;
            // line-height: 1em;
            color: #9099a4;
            font-size: 14px;
            display: flex;
            justify-content: end;
            padding-right: 20px;
          }
        }
      }
    }
  }
  //   iPads, Tablets
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .header-content {
      margin-left: 0;
      .hero-heading {
        margin-top: 30px;
        .title {
          font-size: 20px;

          span {
            background: linear-gradient(
              -45deg,
              #ee7752,
              #e73c7e,
              #23a6d5,
              #23d5ab
            );
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
            @keyframes gradient {
              0% {
                background-position: 0% 50%;
              }
              50% {
                background-position: 100% 50%;
              }
              100% {
                background-position: 0% 50%;
              }
            }

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .intro {
        font-size: 14px;
        width: 100%;
        margin-top: 15px;
      }
      .cta {
        text-decoration: underline;
        font-size: 14px;
        color: #fff;
      }
    }
    .seperator {
      .divider {
        margin-left: 0;
      }
    }
    .current-status {
      margin-top: 20px;

      .parent {
        margin-left: 0;
      }
      .column1 {
        // width: 30%;
        // display: flex;
        padding-bottom: 20px;
        .content {
          width: 100%;
          p {
            font-family: "Syne", sans-serif;
            text-transform: uppercase;
            line-height: 1em;
            color: #9099a4;
            font-size: 12px;
            margin-bottom: 5px;
          }
          h3 {
            font-size: 18px;
            font-family: "Syne", sans-serif;
            color: #fff;
            // width: 70%;
          }
          span {
            font-family: "Syne", sans-serif;
            // line-height: 1em;
            color: #9099a4;
            font-size: 14px;
            display: flex;
            justify-content: end;
            padding-right: 20px;
          }
        }
      }
    }
  }
  //  Small screens, laptops
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header-content {
      margin-left: 0;
      .hero-heading {
        margin-top: 40px;
        .title {
          font-size: 32px;

          span {
            background: linear-gradient(
              -45deg,
              #ee7752,
              #e73c7e,
              #23a6d5,
              #23d5ab
            );
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
            @keyframes gradient {
              0% {
                background-position: 0% 50%;
              }
              50% {
                background-position: 100% 50%;
              }
              100% {
                background-position: 0% 50%;
              }
            }

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .intro {
        font-size: 16px;
        width: 100%;
        margin-top: 15px;
      }
      .cta {
        text-decoration: underline;
        font-size: 16px;
        color: #fff;
      }
    }
    .seperator {
      .divider {
        margin-left: 0;
      }
    }
    .current-status {
      margin-top: 20px;

      .parent {
        margin-left: 0;
      }
      .column1 {
        // width: 30%;
        // display: flex;
        padding-bottom: 20px;
        .content {
          width: 100%;
          p {
            font-family: "Syne", sans-serif;
            text-transform: uppercase;
            line-height: 1em;
            color: #9099a4;
            font-size: 12px;
            margin-bottom: 5px;
          }
          h3 {
            font-size: 18px;
            font-family: "Syne", sans-serif;
            color: #fff;
            // width: 70%;
          }
          span {
            font-family: "Syne", sans-serif;
            // line-height: 1em;
            color: #9099a4;
            font-size: 14px;
            display: flex;
            justify-content: end;
            padding-right: 20px;
          }
        }
      }
    }
  }
  //   Desktops, large screens
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .header-content {
      margin-left: 0;
      .hero-heading {
        margin-top: 40px;
        .title {
          font-size: 36px;

          span {
            background: linear-gradient(
              -45deg,
              #ee7752,
              #e73c7e,
              #23a6d5,
              #23d5ab
            );
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
            @keyframes gradient {
              0% {
                background-position: 0% 50%;
              }
              50% {
                background-position: 100% 50%;
              }
              100% {
                background-position: 0% 50%;
              }
            }

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .intro {
        font-size: 18px;
        width: 100%;
        margin-top: 15px;
      }
      .cta {
        text-decoration: underline;
        font-size: 18px;
        color: #fff;
      }
    }
    .seperator {
      .divider {
        margin-left: 0;
      }
    }
    .current-status {
      margin-top: 20px;

      .parent {
        margin-left: 0;
      }
      .column1 {
        // width: 30%;
        // display: flex;
        padding-bottom: 20px;
        .content {
          width: 100%;
          p {
            font-family: "Syne", sans-serif;
            text-transform: uppercase;
            line-height: 1em;
            color: #9099a4;
            font-size: 14px;
            margin-bottom: 5px;
          }
          h3 {
            font-size: 18px;
            font-family: "Syne", sans-serif;
            color: #fff;
            // width: 70%;
          }
          span {
            font-family: "Syne", sans-serif;
            // line-height: 1em;
            color: #9099a4;
            font-size: 16px;
            display: flex;
            justify-content: end;
            padding-right: 20px;
          }
        }
      }
    }
  }
  // Extra large screens
  @media only screen and (min-width: 1201px) {
    // background-color: rgb(0, 17, 255);
  }
}
