// @import "compass/css3";
.navigation_wrapper {
  // padding: 50px auto;

  .logo {
    position: relative;
    .emblem {
      width: 100px;
      animation: spin 10s linear infinite;
      @keyframes spin {
        0% {
          -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg); /* IE 9 */
          transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }
        100% {
          -webkit-transform: rotate(
            360deg
          ); /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg); /* IE 9 */
          transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
      }
    }
    .logo-inner {
      position: absolute;
      width: 32px;
      top: 40px;
      left: 34px;
    }
  }
  .location {
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  .align {
    margin-left: auto;

    .nav-link {
      font-family: "Poppins", sans-serif;
      font-size: $heading-primary;
      color: $text-secondary;
    }
    .nav-link,
    .nav-link:visited {
      text-decoration: none;
      position: relative;
      color: rgb(255, 255, 255);

      &:after {
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: rgb(255, 255, 255);
        transition: 0.2s;
      }

      &:hover:after {
        width: 100%;
      }

      &.block {
        display: block;
        padding: 0.5em;

        &:hover {
          background: #eee;
        }
      }
    }

    .active {
      color: $text-primary;
    }
  }

  // Mobile Devices
  @media (min-width: 320px) and (max-width: 480px) {
    // background: chocolate;
    .logo {
      position: relative;
      .emblem {
        width: 70px;
      }
      .logo-inner {
        position: absolute;
        width: 24px;
        top: 28px;
        left: 23px;
      }
    }
  }
  //   iPads, Tablets
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    // background-color: rgb(255, 0, 0);
  }
  //  Small screens, laptops
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    // background-color: rgb(21, 255, 0);
  }
  //   Desktops, large screens
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    // background-color: rgb(255, 153, 0);
  }
  // Extra large screens
  @media only screen and (min-width: 1201px) {
    // background-color: rgb(0, 17, 255);
  }
}
