.project-wrapper {
  //   background-color: rebeccapurple;
  margin-top: 100px;

  .progressbar {
    position: fixed;
    top: 0;
    left: 85%;
    background: rgba(255, 255, 255, 0.4);
    width: 1px;
    z-index: 1;
  }

  .navigation-wrapper ul {
    margin-top: 240px;
    margin-left: 100px;
    margin-bottom: 200px;
    list-style: none;
    position: absolute;
  }

  .project-item {
    display: block;
    user-select: none;
    margin: 50px 0;
    padding-bottom: 30px;
    border-bottom: 0.5px solid rgb(97, 97, 97);
    a {
      font-family: "Syne", sans-serif;
      font-size: 32px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.3);
      span {
        position: relative;
        display: block;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
      }
    }
  }

  .project-item span:before {
    width: 0;
    color: #ffffff;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.98);
  }

  .project-item span:hover:before {
    width: 100%;
    // color: rebeccapurple;

    // max-height: 100vh !important;
  }

  .project-preview-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .project-preview {
    position: fixed;
    top: 25%;
    left: 50%;
    width: 0px;
    height: 350px;
    background: url(img-1.jpg) no-repeat 50% 50%;
    box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.432) !important;
    background-size: cover;
    overflow: hidden;
  }

  // Mobile Devices
  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 40px;
    margin-left: 0;
    .project-preview {
      display: none;
    }
    .project-item {
      display: block;
      user-select: none;
      margin: 50px 0;
      padding-bottom: 10px;
      border-bottom: 0.5px solid rgb(97, 97, 97);
      a {
        font-family: "Syne", sans-serif;
        font-size: 24px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.3);
        span {
          position: relative;
          display: block;
        }
        p {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
        }
      }
    }
  }
}
