$heading-font-primary: "MonumentExtended-Regular";
$subheading-font-primary: "MonumentExtended-Light";
$regular-font-primiary: "NeueMontreal-Medium";
$regular-font-secondary: "NeueMontreal-Regular";

$bg-color: #050505;
$text-primary: #fff;
$text-secondary: #9099a4;

$heading-primary: 18px;
$heading-secondary: 16px;
$heading-tertiary: 14px;
$heading: 36px;
