@import "./loder";
@import "./variables";
@import "./typography";
@import "./navigation";
@import "./hero";
@import "./hamburger";
@import "./about";
@import "./project";
@import "./credit";

body {
  font-family: "NeueMontreal-Medium";
  background: $bg-color;
  // background-image: url("../Assets/bg.png");
  // background-image: url("../Assets/noice.png");
  background-repeat: no-repeat;
  background-position: center 50% 50%;
  background-size: cover;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0b0c0b;

  &::after {
    z-index: -99;
    animation: grain 8s steps(10) infinite;
    // background-image: url("../Assets/noice.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;

    @keyframes grain {
      0%,
      100% {
        transform: translate(0, 0);
      }
      10% {
        transform: translate(-5%, -10%);
      }
      20% {
        transform: translate(-15%, 5%);
      }
      30% {
        transform: translate(7%, -25%);
      }
      40% {
        transform: translate(-5%, 25%);
      }
      50% {
        transform: translate(-15%, 10%);
      }
      60% {
        transform: translate(15%, 0%);
      }
      70% {
        transform: translate(0%, 15%);
      }
      80% {
        transform: translate(3%, 35%);
      }
      90% {
        transform: translate(-10%, 10%);
      }
    }
  }
  // .main-wrapper {
  //   // max-width: 1200px;
  //   // background: chartreuse;
  // }

  // Mobile Devices
  @media (min-width: 320px) and (max-width: 480px) {
    background-image: url("../Assets/bg.png");
  }
  //   iPads, Tablets
  @media only screen and (min-width: 481px) and (max-width: 768px) {
  }
  //  Small screens, laptops
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    // background-color: rgb(21, 255, 0);
  }
  //   Desktops, large screens
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    background-color: rgb(255, 153, 0);
  }
  // Extra large screens
  @media only screen and (min-width: 1201px) {
    // background-color: rgb(0, 17, 255);
  }
}
