@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500;700;800&display=swap");
.middle {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  -webkit-animation: loader 1.2s linear infinite;
          animation: loader 1.2s linear infinite;
}

.bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

.navigation_wrapper .logo {
  position: relative;
}

.navigation_wrapper .logo .emblem {
  width: 100px;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

.navigation_wrapper .logo .logo-inner {
  position: absolute;
  width: 32px;
  top: 40px;
  left: 34px;
}

.navigation_wrapper .location {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.navigation_wrapper .align {
  margin-left: auto;
}

.navigation_wrapper .align .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #9099a4;
}

.navigation_wrapper .align .nav-link,
.navigation_wrapper .align .nav-link:visited {
  text-decoration: none;
  position: relative;
  color: white;
}

.navigation_wrapper .align .nav-link:after,
.navigation_wrapper .align .nav-link:visited:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation_wrapper .align .nav-link:hover:after,
.navigation_wrapper .align .nav-link:visited:hover:after {
  width: 100%;
}

.navigation_wrapper .align .nav-link.block,
.navigation_wrapper .align .nav-link:visited.block {
  display: block;
  padding: 0.5em;
}

.navigation_wrapper .align .nav-link.block:hover,
.navigation_wrapper .align .nav-link:visited.block:hover {
  background: #eee;
}

.navigation_wrapper .align .active {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navigation_wrapper .logo {
    position: relative;
  }
  .navigation_wrapper .logo .emblem {
    width: 70px;
  }
  .navigation_wrapper .logo .logo-inner {
    position: absolute;
    width: 24px;
    top: 28px;
    left: 23px;
  }
}

.main-wrapper-home {
  background-image: url("../Assets/bg.png");
  background-repeat: no-repeat;
  background-position: center 50% 50%;
  background-size: cover;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0b0c0b;
}

.hero-wrapper .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-wrapper .header-content .hero-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.hero-wrapper .header-content .hero-heading .title {
  font-family: "Syne", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.hero-wrapper .header-content .hero-heading .title span {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-wrapper .header-content .intro {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  width: 50%;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 25px;
}

.hero-wrapper .header-content .cta {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

.hero-wrapper .seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
}

.hero-wrapper .seperator .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.hero-wrapper .seperator .divider::after {
  content: "";
  display: inline-block;
  width: 85%;
  height: 10px;
  border-bottom: 1px solid #9099a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.hero-wrapper .current-status {
  margin-top: 20px;
  width: 100%;
}

.hero-wrapper .current-status .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-wrapper .current-status .column1 {
  padding-bottom: 10px;
}

.hero-wrapper .current-status .column1 .content {
  width: 100%;
}

.hero-wrapper .current-status .column1 .content p {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  color: #9099a4;
  font-size: 14px;
  margin-bottom: 5px;
}

.hero-wrapper .current-status .column1 .content h3 {
  font-size: 24px;
  font-family: "Syne", sans-serif;
  color: #fff;
}

.hero-wrapper .current-status .column1 .content span {
  font-family: "Syne", sans-serif;
  color: #9099a4;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero-wrapper .header-content {
    margin-left: 0;
  }
  .hero-wrapper .header-content .hero-heading {
    margin-top: 40px;
  }
  .hero-wrapper .header-content .hero-heading .title {
    font-size: 24px;
  }
  .hero-wrapper .header-content .hero-heading .title span {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
            animation: gradient 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .hero-wrapper .header-content .intro {
    font-size: 14px;
    width: 100%;
    margin-top: 15px;
  }
  .hero-wrapper .header-content .cta {
    text-decoration: underline;
    font-size: 14px;
    color: #fff;
  }
  .hero-wrapper .seperator .divider {
    margin-left: 0;
  }
  .hero-wrapper .current-status {
    margin-top: 20px;
  }
  .hero-wrapper .current-status .parent {
    margin-left: 0;
  }
  .hero-wrapper .current-status .column1 {
    padding-bottom: 20px;
  }
  .hero-wrapper .current-status .column1 .content {
    width: 100%;
  }
  .hero-wrapper .current-status .column1 .content p {
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    color: #9099a4;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .hero-wrapper .current-status .column1 .content h3 {
    font-size: 18px;
    font-family: "Syne", sans-serif;
    color: #fff;
  }
  .hero-wrapper .current-status .column1 .content span {
    font-family: "Syne", sans-serif;
    color: #9099a4;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hero-wrapper .header-content {
    margin-left: 0;
  }
  .hero-wrapper .header-content .hero-heading {
    margin-top: 30px;
  }
  .hero-wrapper .header-content .hero-heading .title {
    font-size: 20px;
  }
  .hero-wrapper .header-content .hero-heading .title span {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
            animation: gradient 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .hero-wrapper .header-content .intro {
    font-size: 14px;
    width: 100%;
    margin-top: 15px;
  }
  .hero-wrapper .header-content .cta {
    text-decoration: underline;
    font-size: 14px;
    color: #fff;
  }
  .hero-wrapper .seperator .divider {
    margin-left: 0;
  }
  .hero-wrapper .current-status {
    margin-top: 20px;
  }
  .hero-wrapper .current-status .parent {
    margin-left: 0;
  }
  .hero-wrapper .current-status .column1 {
    padding-bottom: 20px;
  }
  .hero-wrapper .current-status .column1 .content {
    width: 100%;
  }
  .hero-wrapper .current-status .column1 .content p {
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    color: #9099a4;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .hero-wrapper .current-status .column1 .content h3 {
    font-size: 18px;
    font-family: "Syne", sans-serif;
    color: #fff;
  }
  .hero-wrapper .current-status .column1 .content span {
    font-family: "Syne", sans-serif;
    color: #9099a4;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-wrapper .header-content {
    margin-left: 0;
  }
  .hero-wrapper .header-content .hero-heading {
    margin-top: 40px;
  }
  .hero-wrapper .header-content .hero-heading .title {
    font-size: 32px;
  }
  .hero-wrapper .header-content .hero-heading .title span {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
            animation: gradient 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .hero-wrapper .header-content .intro {
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
  }
  .hero-wrapper .header-content .cta {
    text-decoration: underline;
    font-size: 16px;
    color: #fff;
  }
  .hero-wrapper .seperator .divider {
    margin-left: 0;
  }
  .hero-wrapper .current-status {
    margin-top: 20px;
  }
  .hero-wrapper .current-status .parent {
    margin-left: 0;
  }
  .hero-wrapper .current-status .column1 {
    padding-bottom: 20px;
  }
  .hero-wrapper .current-status .column1 .content {
    width: 100%;
  }
  .hero-wrapper .current-status .column1 .content p {
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    color: #9099a4;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .hero-wrapper .current-status .column1 .content h3 {
    font-size: 18px;
    font-family: "Syne", sans-serif;
    color: #fff;
  }
  .hero-wrapper .current-status .column1 .content span {
    font-family: "Syne", sans-serif;
    color: #9099a4;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .hero-wrapper .header-content {
    margin-left: 0;
  }
  .hero-wrapper .header-content .hero-heading {
    margin-top: 40px;
  }
  .hero-wrapper .header-content .hero-heading .title {
    font-size: 36px;
  }
  .hero-wrapper .header-content .hero-heading .title span {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
            animation: gradient 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .hero-wrapper .header-content .intro {
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
  }
  .hero-wrapper .header-content .cta {
    text-decoration: underline;
    font-size: 18px;
    color: #fff;
  }
  .hero-wrapper .seperator .divider {
    margin-left: 0;
  }
  .hero-wrapper .current-status {
    margin-top: 20px;
  }
  .hero-wrapper .current-status .parent {
    margin-left: 0;
  }
  .hero-wrapper .current-status .column1 {
    padding-bottom: 20px;
  }
  .hero-wrapper .current-status .column1 .content {
    width: 100%;
  }
  .hero-wrapper .current-status .column1 .content p {
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    color: #9099a4;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .hero-wrapper .current-status .column1 .content h3 {
    font-size: 18px;
    font-family: "Syne", sans-serif;
    color: #fff;
  }
  .hero-wrapper .current-status .column1 .content span {
    font-family: "Syne", sans-serif;
    color: #9099a4;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 20px;
  }
}

.menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

path {
  -webkit-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
  -webkit-transform-origin: 36% 40%;
          transform-origin: 36% 40%;
}

path:nth-child(2) {
  stroke-dasharray: 29 299;
}

path:nth-child(3) {
  -webkit-transform-origin: 35% 63%;
          transform-origin: 35% 63%;
}

path:nth-child(4) {
  stroke-dasharray: 29 299;
}

path:nth-child(5) {
  -webkit-transform-origin: 61% 52%;
          transform-origin: 61% 52%;
}

path:nth-child(6) {
  -webkit-transform-origin: 62% 52%;
          transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.main-wrapper-about {
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0b0c0b;
}

.about-wrapper {
  margin-bottom: 200px;
}

.about-wrapper .about-intro {
  margin-top: 100px;
}

.about-wrapper .about-intro h1 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}

.about-wrapper .about-intro p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
}

.about-wrapper .about-detail {
  margin-top: 40px;
}

.about-wrapper .about-detail p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.about-wrapper .about-detail p a {
  color: #7868e6;
}

.about-wrapper .about-detail .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 30px;
}

.about-wrapper .seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
}

.about-wrapper .seperator .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.about-wrapper .seperator .divider::after {
  content: "";
  display: inline-block;
  width: 60%;
  height: 10px;
  border-bottom: 1px solid #9099a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.about-wrapper .process .info {
  padding-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.about-wrapper .process .pro-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.about-wrapper .process .pro-detail .pro1 {
  width: 33.33%;
}

.about-wrapper .process .pro-detail .pro1 h3 {
  font-family: Syne;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 10px;
  color: #ffffff;
}

.about-wrapper .process .pro-detail .pro1 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #9099a4;
}

@media (min-width: 320px) and (max-width: 480px) {
  .about-wrapper .about-intro {
    margin-top: 30px;
  }
  .about-wrapper .about-intro h1 {
    font-size: 24px;
  }
  .about-wrapper .about-intro p {
    font-size: 14px;
  }
  .about-wrapper .about-detail {
    margin-top: 40px;
  }
  .about-wrapper .about-detail p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
  }
  .about-wrapper .about-detail p a {
    color: #7868e6;
  }
  .about-wrapper .about-detail .sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 30px;
  }
  .about-wrapper .about-detail .sign img {
    width: 60%;
  }
  .about-wrapper .seperator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0 0 0;
  }
  .about-wrapper .seperator .divider {
    font-size: 10px;
  }
  .about-wrapper .seperator .divider::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 10px;
    border-bottom: 1px solid #9099a4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2px;
  }
  .about-wrapper .process .info {
    padding-top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
  }
  .about-wrapper .process .pro-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  .about-wrapper .process .pro-detail .pro1 {
    width: 100%;
  }
  .about-wrapper .process .pro-detail .pro1 img {
    width: 30px;
  }
  .about-wrapper .process .pro-detail .pro1 h3 {
    font-family: Syne;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding-top: 10px;
    color: #ffffff;
  }
  .about-wrapper .process .pro-detail .pro1 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.7;
    color: #9099a4;
  }
}

.project-wrapper {
  margin-top: 100px;
}

.project-wrapper .progressbar {
  position: fixed;
  top: 0;
  left: 85%;
  background: rgba(255, 255, 255, 0.4);
  width: 1px;
  z-index: 1;
}

.project-wrapper .navigation-wrapper ul {
  margin-top: 240px;
  margin-left: 100px;
  margin-bottom: 200px;
  list-style: none;
  position: absolute;
}

.project-wrapper .project-item {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 50px 0;
  padding-bottom: 30px;
  border-bottom: 0.5px solid #616161;
}

.project-wrapper .project-item a {
  font-family: "Syne", sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.project-wrapper .project-item a span {
  position: relative;
  display: block;
}

.project-wrapper .project-item a p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.project-wrapper .project-item span:before {
  width: 0;
  color: #ffffff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  content: attr(data-text);
  -webkit-transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.98);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.98);
}

.project-wrapper .project-item span:hover:before {
  width: 100%;
}

.project-wrapper .project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-wrapper .project-preview {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 0px;
  height: 350px;
  background: url(img-1.jpg) no-repeat 50% 50%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.432) !important;
          box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.432) !important;
  background-size: cover;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  .project-wrapper {
    margin-top: 40px;
    margin-left: 0;
  }
  .project-wrapper .project-preview {
    display: none;
  }
  .project-wrapper .project-item {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 50px 0;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #616161;
  }
  .project-wrapper .project-item a {
    font-family: "Syne", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
  }
  .project-wrapper .project-item a span {
    position: relative;
    display: block;
  }
  .project-wrapper .project-item a p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }
}

.credit-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
}

body {
  font-family: "NeueMontreal-Medium";
  background: #050505;
  background-repeat: no-repeat;
  background-position: center 50% 50%;
  background-size: cover;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0b0c0b;
}

body::after {
  z-index: -99;
  -webkit-animation: grain 8s steps(10) infinite;
          animation: grain 8s steps(10) infinite;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -100%;
  width: 300%;
}

@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url("../Assets/bg.png");
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: #ff9900;
  }
}
/*# sourceMappingURL=main.css.map */